header {
  display: flex;
  justify-content: space-between;
}
header .header_logo {
  width: 50%;
}

.nav_container {
  background: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  font-weight: bold;
}

.menu li {
  padding: 0 2rem;
}
.menu a {
  color: grey;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.menu a:hover {
  background: grey;
  color: white;
}

.menuHamburguesa {
  background-color: grey;
}

.imagen-gradient {
  background: linear-gradient(90deg, rgba(140, 140, 140, 0.7) 0%, rgba(197, 195, 195, 0.7) 25%, rgba(246, 243, 243, 0.7) 100%);
}

.texto_title {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  color: rgb(11, 11, 11);
  font-size: 70px;
  padding: 5rem;
  margin-top: 15rem;
}

.card_propiedades {
  overflow: hidden;
  padding: 1rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 300ms ease;
  background-color: #fff;
}
.card_propiedades:hover {
  box-shadow: 5px 10px 20px rgb(0, 0, 0);
  transform: translateY(-3%);
}
.card_propiedades img {
  width: 100%;
  height: 280px;
}

.container_propiedades {
  display: flex;
}
.container_propiedades a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: grey;
  border: 1px solid grey;
  border-radius: 3px;
}
.container_propiedades a:hover {
  background: grey;
  color: bg-blanco;
}

.titulo_preVideo h2 {
  text-align: center;
  margin-top: 200px;
  font-size: 3rem;
}
.titulo_preVideo p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 200px;
  font-size: 1.5rem;
}

.video_propiedades img {
  width: 570px;
  height: 300px;
  justify-content: flex-start;
}

.description {
  display: flex;
  flex-wrap: wrap;
}
.description h3 {
  padding: 3rem 1.5rem 0rem;
}
.description p {
  padding: 0rem 1.5rem 0rem 1.5rem;
}
.description a {
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.video_propiedades_2 img {
  width: 35rem;
  height: 18rem;
  justify-content: flex-start;
}

.description_2 {
  display: flex;
  flex-wrap: wrap;
}
.description_2 h3 {
  padding: 3rem 1.5rem 0rem;
}
.description_2 p {
  padding: 0rem 1.5rem 0rem 1.5rem;
}
.description_2 a {
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.titulo-pre-grid {
  text-align: center;
  margin-top: 400px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
}

.imagenes-layout {
  width: 350px;
  height: 200px;
  border-radius: 10px;
}
.imagenes-layout:hover {
  transition: all 1s ease;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  transform: scale(1.1);
}

.container-section {
  display: flex;
  flex-direction: row;
  margin: 20rem 1rem 25rem;
}

.container-section-estilos {
  display: flex;
}
.container-section-estilos img {
  width: 70%;
  height: 60%;
}

.container-section-uno {
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
}
.container-section-uno p {
  padding: 1rem 1.5rem;
}

.container-section-dos {
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
}
.container-section-dos p {
  padding: 1rem 1.5rem;
}

.container-section-tres {
  width: 60%;
  font-size: 1.5rem;
  text-align: center;
}
.container-section-tres p {
  padding: 1rem 1.5rem 0rem;
}

.footer-container {
  border-top: 1px solid grey;
  display: flex;
  background-color: rgba(221, 220, 220, 0.612);
}

.footer-container-estilos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;
  width: 100%;
}
.footer-container-estilos li {
  display: inline;
  margin: 3rem;
}
.footer-container-estilos a {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: rgb(11, 11, 11);
  width: 50px;
  height: 50px;
}

.footer-logo {
  width: 100px;
  height: 80px;
  margin-right: 3rem;
}

.footer-paginas ul {
  flex-direction: column;
}
.footer-paginas li {
  margin-right: 3rem;
}
.footer-paginas h3 {
  padding-left: 1.3rem;
  margin-left: 1.3rem;
}
.footer-paginas a {
  width: 10px;
  height: 10px;
  text-align: center;
  justify-content: center;
  color: red;
  list-style: none;
  text-decoration: none;
  padding: 0rem 5rem;
  margin-top: -0.3rem;
}
.footer-paginas a:hover {
  color: rgb(11, 11, 11);
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
