$menu:(
    bg-menu: $bg-grisClaro,
    letra-negrita: bold,
    en-fila: row,
);

$footer:(
    bg-footer-Gclaro:  rgba(221, 220, 220, 0.612),
    bg-footer-Noscuro: rgb(11, 11, 11),
    texto-alineado-centro: center,
    justificado-centro: center,
);